<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>選手一覧</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap-theme.min.css}"/>
</head>
<body>
<div class="container">
    <h1> 選手管理システム </h1>
    <div class="col-sm-12">
        <!--<form th:action="@{/players/create}" th:object="${playerForm}" class="form-horizontal" method="post">-->
        <!--<fieldset>-->
        <!--<legend> 選手情報作成</legend>-->
        <!--<div class="form-group" th:classappend="${#fields.hasErrors('lastName')}? 'has-error has-feedback'">-->
        <!--<label for="lastName" class="col-sm-2 control-label"> 姓 </label>-->
        <!--<div class="col-sm-10">-->
        <!--<input type="text" id="lastName" name="lastName" th:field="*{lastName}" class="form-control"-->
        <!--value=" 山田 "/>-->
        <!--<span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="help-block"> error! </span>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group" th:classappend="${#fields.hasErrors('firstName')}? 'has-error has-feedback'">-->
        <!--<label for="firstName" class="col-sm-2 control-label"> 名 </label>-->
        <!--<div class="col-sm-10">-->
        <!--<input type="text" id="firstName" name="lastName" th:field="*{firstName}" class="form-control"-->
        <!--value=" 太郎 "/>-->
        <!--<span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="help-block"> error! </span>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group" th:classappend="${#fields.hasErrors('team')}? 'has-error has-feedback'">-->
        <!--<label for="team" class="col-sm-2 control-label"> 所属チーム </label>-->
        <!--<div class="col-sm-10">-->
        <!--<input type="text" id="team" name="lastName" th:field="*{team}" class="form-control"-->
        <!--value=" 湾岸島ウェーブス "/>-->
        <!--<select id="team" name="lastName" th:field="*{team}" class="form-control" value=" 湾岸島ウェーブス " >-->
        <!--<optgroup label="セリーグ">-->
        <!--<option value=" 湾岸島ウェーブス "> 湾岸島ウェーブス </option>-->
        <!--</optgroup>-->
        <!--<optgroup label="パリーグ">-->
        <!--<option value=" 任気堂カスタムメッツ "> 任気堂カスタムメッツ </option>-->
        <!--<option value=" 岩尾ガジェッツ "> 岩尾ガジェッツ </option>-->
        <!--</optgroup>-->
        <!--</select>-->
        <!--<span th:if="${#fields.hasErrors('team')}" th:errors="*{team}"-->
        <!--class="help-block"> error! </span>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group" th:classappend="${#fields.hasErrors('uniformNumber')}? 'has-error has-feedback'">-->
        <!--<label for="uniformNumber" class="col-sm-2 control-label"> 背番号 </label>-->
        <!--<div class="col-sm-10">-->
        <!--<input type="number" id="uniformNumber" name="lastName" th:field="*{uniformNumber}" class="form-control"-->
        <!--value=2/>-->
        <!--<span th:if="${#fields.hasErrors('uniformNumber')}" th:errors="*{uniformNumber}" class="help-block"> error! </span>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group" th:classappend="${#fields.hasErrors('mainPosition')}? 'has-error has-feedback'">-->
        <!--<label for="mainPosition" class="col-sm-2 control-label"> メインポジション </label>-->
        <!--<div class="col-sm-10">-->
        <!--<input type="text" id="mainPosition" name="lastName" th:field="*{mainPosition}"-->
        <!--class="form-control" value=" 捕手 "/>-->
        <!--<select id="mainPosition" name="lastName" th:field="*{mainPosition}" class="form-control" value=" 捕手 " >-->
        <!--<option value=" 投手 "> 投手 </option>-->
        <!--<option value=" 捕手 "> 捕手 </option>-->
        <!--<option value=" 一塁手 "> 一塁手 </option>-->
        <!--<option value=" 二塁手 "> 二塁手 </option>-->
        <!--<option value=" 三塁手 "> 三塁手 </option>-->
        <!--<option value=" 遊撃手 "> 遊撃手 </option>-->
        <!--<option value=" 外野手 "> 外野手 </option>-->
        <!--</select>-->
        <!--<span th:if="${#fields.hasErrors('mainPosition')}" th:errors="*{mainPosition}"-->
        <!--class="help-block"> error! </span>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group" th:classappend="${#fields.hasErrors('subPosition')}? 'has-error has-feedback'">-->
        <!--<label for="subPosition" class="col-sm-2 control-label"> サブポジション </label>-->
        <!--<div class="col-sm-10">-->
        <!--<input type="text" id="mainPosition" name="lastName" th:field="*{mainPosition}"-->
        <!--class="form-control" value=" 捕手 "/>-->
        <!--<select id="subPosition" name="lastName" th:field="*{subPosition}" class="form-control" value="" multiple >-->
        <!--<option value=""> 無し </option>-->
        <!--<option value=" 投手 "> 投手 </option>-->
        <!--<option value=" 捕手 "> 捕手 </option>-->
        <!--<option value=" 一塁手 "> 一塁手 </option>-->
        <!--<option value=" 二塁手 "> 二塁手 </option>-->
        <!--<option value=" 三塁手 "> 三塁手 </option>-->
        <!--<option value=" 遊撃手 "> 遊撃手 </option>-->
        <!--<option value=" 外野手 "> 外野手 </option>-->
        <!--</select>-->
        <!--<span th:if="${#fields.hasErrors('subPosition')}" th:errors="*{subPosition}"-->
        <!--class="help-block"> error! </span>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<div class="col-sm-offset-2 col-sm-10">-->
        <!--<button type="submit" class="btn btn-primary"> 作成</button>-->
        <!--</div>-->
        <!--</div>-->
        <!--</fieldset>-->
        <!--</form>-->
        <fieldset>
            <legend> 選手一覧 </legend>
            <td>
                <form th:action="@{/players/create}" method="post">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input class="btn btn-default" type="submit" name="goToCreate" value=" 選手作成 "/>
                            <!--<input type="hidden" name="playerId" th:value="${player.playerId}"/>-->
                        </div>
                    </div>
                </form>
            </td>
            <hr/>
            <table class="table table-striped table-bordered table-condensed">
                <tr>
                    <th> ID</th>
                    <th> 姓</th>
                    <th> 名</th>
                    <th> 所属チーム</th>
                    <th> 背番号</th>
                    <th> メインポジション</th>
                    <th> サブポジション</th>
                    <th colspan="2"> 編集</th>
                </tr>
                <tr th:each="player : ${players}">
                    <td th:text="${player.playerId}">100</td>
                    <td th:text="${player.lastName}">山田</td>
                    <td th:text="${player.firstName}">太郎</td>
                    <td th:text="${player.team}">湾岸島ウェーブス</td>
                    <td th:text="${player.uniformNumber}">02</td>
                    <td th:text="${player.mainPosition}">捕手</td>
                    <td th:text="${player.subPosition}"></td>
                    <td>
                        <form th:action="@{/players/edit}" method="get">
                            <input class="btn btn-default" type="submit" name="form" value=" 編集 "/>
                            <input type="hidden" name="playerId" th:value="${player.playerId}"/>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/players/delete}" method="post">
                            <input class="btn btn-danger" type="submit" value=" 削除 "/>
                            <input type="hidden" name="playerId" th:value="${player.playerId}"/>
                        </form>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</div>
<script src="https://ajax.googleapis.con/ajax/libs/jquery/1.11.1/jquery.min.js"
        th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script src="http://maxcdn.bootstrap.com/bootstrap/4.1.1/js/bootstrap.min.js}"></script>
</body>
</html>